* {
	color: #fff;
}

.search-ex i {
	color: black;
}

body {
	background-color: #0b0719;
	min-height: 100%;
}

.side-navbar {
	width: 180px;
	height: 100%;
	position: fixed;
	margin-left: -300px;
	background-color: #0b0719;
	transition: 0.5s;
	box-shadow: 8px 16px 16px rgba(255, 254, 254, 0.25);
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover * {
	color: #ea429a;
}

.navbar {
	background-color: #473583;
}

.my-container {
	transition: 0.4s;
	min-height: 100%;
	padding: 20px;
	padding-bottom: 50px;
}

.active-nav {
	margin-left: 0;
}

.burger-tittle {
	background-color: #231355;
	margin: 0;
	padding: 15px;
	display: flex;
	width: 200px;
	transition: 0.3s;
}

@media screen and (max-width: 508px) {
	.burger-tittle {
		flex-grow: 1;
	}
}

/* for main section */

.active-cont {
	margin-left: 180px;
}

#menu-btn {
	background-color: #ea429a;
	color: #fff;
	margin-right: 15px;
}

.footer {
	bottom: 0;
}

.feather {
	color: black;
}

.card-footer:last-child {
	border-radius: 0 !important;
}

.card-footer {
	padding: 0 !important;
	background-color: unset !important;
	border-top: unset !important;
}

.text-center {
	color: #fff;
}

.card-img-overlay {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
	padding: 2px 5px;
	margin: 0;
	align-items: flex-start;
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.384),
		rgba(31, 30, 30, 0.171) 40%,
		rgba(82, 76, 76, 0.075)
	) !important;
}

.sub-tittle-border {
	display: flex;
	align-items: center;
}

.sub-tittle-border .btn {
	padding: 0 5px;
	color: #fff;
}

.sub-tittle-border .btn:hover {
	background-color: #ea429a;
}

.sub-tittle-border h2 {
	font-size: 1rem;
	overflow: hidden;
	display: inline;
	margin-right: 10px;
	flex-grow: 1;
}

.sub-tittle-border h2:after {
	content: "";
	display: inline-block;
	height: 0.5em;
	vertical-align: bottom;
	width: 100%;
	margin-right: -100%;
	margin-left: 10px;
	border-top: 1px solid rgb(255, 255, 255);
}

.dots {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.dots * {
	display: inline-block;
	flex-direction: row;
	font-size: smaller;
	line-height: 0;
	text-align: center;
	margin-top: -6px;
	margin-left: 1px;
	margin-right: 1px;
}

.category-card {
	display: inline;
	color: #fff;
	background-color: red;
	padding: 0px 15px;
	border-radius: 5px;
}

.text-card-p {
	font-weight: 100;
	color: rgb(146, 135, 135);
}

.search-container {
	display: flex;
	flex-wrap: nowrap;
	margin: 10px 20px;
	flex-wrap: nowrap;
}

.search-container .fa-search {
	color: #000;
}

.login-btn {
	margin-left: auto !important;
}

@media screen and (max-width: 500px) {
	.search-container {
		width: 100%;
		flex-grow: 1;
	}
	.login-btn {
		width: 100%;
        margin-left: 20px !important;
	}
}

.nav-container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}


