{% extends 'layout/layoutMain.html' %}
{% load static %} 
{% load crispy_forms_tags %}
{% block title %}Editar {{noticia.titulo}}{% endblock%}

{% block styles %}
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="card col-12 col-md-8 ">
            <div class="card-header">
                <h2 class="text-dark text-center">Editar Noticia</h2>
            </div>
            <div class="card-body">
                <form  enctype="multipart/form-data"  action="{% url 'editUserNew' noticia.id %}" method="post">
                    {% csrf_token %}
                    {{ articuloForm|crispy }}
                    <button class="btn btn-primary w-100" type="submit"><i class="fas fa-save"></i> Guardar</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{% endblock %}