 {% extends 'layout/layoutMain.html' %}{% load static %} {% block title %}INICIO{% endblock%} {% block content %}



    <!-- Contenido principal-->
    <div class="my-container">

        <h1>
            Populares
        </h1>
        <div class="sub-tittle-border">
            <h2>
                <span>LAS NOTICIAS MÁS DESTACADAS DE LA SEMANA </span>
            </h2>
            <a class="btn">
                <i class="fas fa-plus-circle"></i> Más noticias
            </a>
        </div>

        <div class="col-12 col-md-4 my-3 ">
            {% for noticia in noticias %}
            <div class="card">
                <img src="{{ noticia.portada.url }}" class="card-img-top" alt="...">

                <div class="card-img-overlay pb-0">
                    <h5 class="card-title"></h5>
                    <div class="card-footer mx-2">
                        <h6 class="category-card">
                            {{ noticia.categoria.categoria }}
                        </h6>
                        <h4>
                            {{ noticia.titulo }}
                        </h4>
                        <p class="text-card-p">
                            <i class="far fa-clock"></i> {{ noticia.fecha_publicacion }}
                        </p>
                    </div>
                </div>
            </div>
            {% empty %}
            <h1>No hay noticias para mostrar.</h1>
            {% endfor %}
        </div>
    </div>
    {% endblock %}