{% extends 'layout/layoutMain.html' %}
{% load static %} 
{% block title %}Mi Perfil{% endblock%}

{% block content %}
    <div class="row justify-content-center">
        <div class="card col-12 col-md-4 ">
            <div class="card-header d-flex justify-content-center mt-2">
                <img class="img-fluid rounded-circle" width="25%" src="{{ usuario.profile_picture.url }}" alt="user">
            </div>
            <div class="card-body">
                <p><b>Nombre de usuario:</b> {{ usuario.user_name }}</p>
                <p><b>Nombres:</b> {{ usuario.first_name }}</p>
                <p><b>Apellidos:</b> {{ usuario.last_name }}</p>
                <p><b>Email:</b> {{ usuario.email }}</p>
                <p><b>Sencionado:</b> {% if usuario.is_sancionado %} SI {% else %} NO {% endif %}</p>
                <a href="{% url 'logout' %}" class="btn btn-secondary w-100">
                    Cerrar Sesión
                </a>
            </div>

        </div>
    </div>

{% endblock %}