{% extends 'layout/layoutMain.html' %}
{% load static %} 
{% block title %}Mis Noticias{% endblock%} 
{% block content %}
<div class="d-flex justify-content-between align-items-end">
   <h1>
        Mis Noticias
   </h1>
   <a class="btn btn-primary h-75" href="{% url 'addUserNew' %}"><i class="fa fa-plus"></i> Agregar Categpria</a>
</div>


<div class="col-12  my-3 ">
   {% if noticias %}
   <table class="table bg-light table-striped table-bordered  ">
       <thead>
           <tr>
               <td scope="col"><b>Título</b></td>
               <td scope="col"><b>Categoría</b></td>
               <td scope="col"><b>Acciones</b></td>
           </tr>
       </thead>
       <tbody>
           {% for noticia in noticias %}
           <tr >
               <td scope="row">{{noticia.titulo}}</td>
               <td scope="row">
                   <a class="nav-link" href="{% url 'articleByCategory' noticia.categoria.id %}">
                        <h6 class="category-card">
                         <i class="{{ noticia.categoria.fa_icon }}"></i>   {{ noticia.categoria.categoria }}
                        </h6>
                   </a>
                </td>
               <td>
                   <a href="{% url 'editUserNew' noticia.id %}" class="btn btn-primary"><i class="fas fa-pencil"></i></a>
                   <button class="btn btn-secondary" data-toggle="modal" data-target="#confirmDeleteModel-{{ noticia.id }}"><i class="fas fa-trash"></i></button>
                   <a href="{% url 'article' noticia.id %}" class="btn btn-primary"><i class="fas fa-eye"></i></a>
               </td>
           </tr>
           {% endfor %}
       </tbody>
   </table>
   {% else %}
   <h1>No hay Noticias para mostrar.</h1>
   {% endif %}
   {% for noticia in noticias %}
   <div class="modal fade "tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" id="confirmDeleteModel-{{ noticia.id }}">
       <div class="modal-dialog " role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               Está seguro que desea eliminar la noticia <b>{{ noticia.titulo }}</b>?
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
               <a href="{% url 'deleteUserNew' noticia.id %}" class="btn btn-primary">SI</a>
             </div>
           </div>
         </div>
   </div>
   {% endfor %}
</div>
{% endblock %}