<nav class="navbar p-0 navbar-expand-lg navbar-dark">
	<div class="nav-container p-0">
		<div class="burger-tittle">
			<a class="btn" id="menu-btn">
				<i class="fas fa-bars"></i>
			</a>
			<a class="navbar-brand" href="#">SIUTMACH</a>
		</div>
		<div class="search-container">
			<form class="d-flex w-100">
				<input
					type="text"
					placeholder="Buscar..."
					class="form-control"
					id="search"
					name="search"
				/>
				<button type="submit" class="btn bg-light">
					<i class="fas fa-search"></i>
				</button>
			</form>
		</div>
		{% if usuario %}
		<a href="{% url 'logout' %}" class="btn btn-secondary m-3 login-btn">
			Cerrar Sesión
		</a>
		{% else %}
		<a href="{% url 'login' %}" class="btn btn-primary m-3 login-btn">
			Iniciar sesión
		</a>
		{% endif %}
	</div
</nav>
